In [52]:
import pandas as pd
import numpy as np
import pprint
#reading files
df=pd.read_excel("C:/Users/sarve/Downloads/2P/2P/Shift_JR_19_396_A3_1.xlsx")
excel=pd.read_excel("C:/Users/sarve/Downloads/2P/2P/AcquisitionData_JR_19_396_A3_1.xlsx")
excel2=pd.read_excel("C:/Users/sarve/Downloads/2P/2P/AcquisitionData_JR_19_396_A3_1.xlsx")

In [53]:
df

     AOI Name  Maximum X Shift  Maximum Y Shift
0     aoi0049                7                3
1     aoi0050                4                3
2     aoi0076                2                1
3     aoi0077                3                1
4     aoi0081                0                1
...       ...              ...              ...
1398  aoi2035                3                1
1399  aoi2058                1                3
1400  aoi2059               12                3
1401  aoi2060                3                1
1402  aoi2061                4                1

[1403 rows x 3 columns]

In [55]:
df2=df[['AOI Name','Maximum X Shift']]
df3=df[['AOI Name','Maximum Y Shift']]

In [56]:
df2

     AOI Name  Maximum X Shift
0     aoi0049                7
1     aoi0050                4
2     aoi0076                2
3     aoi0077                3
4     aoi0081                0
...       ...              ...
1398  aoi2035                3
1399  aoi2058                1
1400  aoi2059               12
1401  aoi2060                3
1402  aoi2061                4

[1403 rows x 2 columns]

In [57]:
for x in np.nditer(excel,flags=["refs_ok"]):
    for i,j in zip(df2['AOI Name'],df2['Maximum X Shift']):
        if i==x:
            excel = excel.replace([x],j)

In [58]:
pprint.pprint(excel)

    row \ col        0        1        2        3        4        5        6  \
0           0  aoi0001  aoi0002  aoi0003  aoi0004  aoi0005  aoi0006  aoi0007
1           1  aoi0066  aoi0065  aoi0064  aoi0063  aoi0062  aoi0061  aoi0060
2           2  aoi0067  aoi0068  aoi0069  aoi0070  aoi0071  aoi0072  aoi0073
3           3  aoi0132  aoi0131  aoi0130  aoi0129  aoi0128  aoi0127  aoi0126
4           4  aoi0133  aoi0134  aoi0135  aoi0136  aoi0137  aoi0138  aoi0139
..        ...      ...      ...      ...      ...      ...      ...      ...
58         58  aoi1915  aoi1916  aoi1917  aoi1918  aoi1919  aoi1920  aoi1921
59         59  aoi1980  aoi1979  aoi1978  aoi1977  aoi1976  aoi1975  aoi1974
60         60  aoi1981  aoi1982  aoi1983  aoi1984  aoi1985  aoi1986  aoi1987
61         61  aoi2046  aoi2045  aoi2044  aoi2043  aoi2042  aoi2041  aoi2040
62         62  aoi2047  aoi2048  aoi2049  aoi2050  aoi2051  aoi2052  aoi2053

          7        8  ...       23       24       25       26       27  \
0   aoi0008  aoi0009  ...  aoi0024  aoi0025  aoi0026  aoi0027  aoi0028
1   aoi0059  aoi0058  ...  aoi0043  aoi0042  aoi0041  aoi0040  aoi0039
2   aoi0074  aoi0075  ...  aoi0090  aoi0091  aoi0092  aoi0093  aoi0094
3   aoi0125        3  ...  aoi0109  aoi0108  aoi0107  aoi0106  aoi0105
4   aoi0140        4  ...  aoi0156  aoi0157  aoi0158  aoi0159  aoi0160
..      ...      ...  ...      ...      ...      ...      ...      ...
58  aoi1922  aoi1923  ...  aoi1938  aoi1939  aoi1940  aoi1941  aoi1942
59  aoi1973  aoi1972  ...  aoi1957  aoi1956  aoi1955  aoi1954  aoi1953
60  aoi1988  aoi1989  ...  aoi2004  aoi2005  aoi2006  aoi2007  aoi2008
61  aoi2039  aoi2038  ...  aoi2023  aoi2022  aoi2021  aoi2020  aoi2019
62  aoi2054  aoi2055  ...  aoi2070  aoi2071  aoi2072  aoi2073  aoi2074

         28       29       30       31       32
0   aoi0029  aoi0030  aoi0031  aoi0032  aoi0033
1   aoi0038  aoi0037  aoi0036  aoi0035  aoi0034
2   aoi0095  aoi0096  aoi0097  aoi0098  aoi0099
3   aoi0104  aoi0103  aoi0102  aoi0101  aoi0100
4   aoi0161  aoi0162  aoi0163  aoi0164  aoi0165
..      ...      ...      ...      ...      ...
58  aoi1943  aoi1944  aoi1945  aoi1946  aoi1947
59  aoi1952  aoi1951  aoi1950  aoi1949  aoi1948
60  aoi2009  aoi2010  aoi2011  aoi2012  aoi2013
61  aoi2018  aoi2017  aoi2016  aoi2015  aoi2014
62  aoi2075  aoi2076  aoi2077  aoi2078  aoi2079

[63 rows x 34 columns]

In [59]:
excel.to_excel('C:/Users/sarve/Downloads/JR_19_396_A3_1(max-X).xlsx')

In [60]:
excel=pd.read_excel("C:/Users/sarve/Downloads/2P/2P/AcquisitionData_JR_19_396_A3_1.xlsx")
excel2=pd.read_excel("C:/Users/sarve/Downloads/2P/2P/AcquisitionData_JR_19_396_A3_1.xlsx")

In [62]:
for x in np.nditer(excel,flags=["refs_ok"]):
    for i,j in zip(df3['AOI Name'],df3['Maximum Y Shift']):
        if i==x:
            excel = excel.replace([x],j)

In [63]:
pprint.pprint(excel)

    row \ col        0        1        2        3        4        5        6  \
0           0  aoi0001  aoi0002  aoi0003  aoi0004  aoi0005  aoi0006  aoi0007
1           1  aoi0066  aoi0065  aoi0064  aoi0063  aoi0062  aoi0061  aoi0060
2           2  aoi0067  aoi0068  aoi0069  aoi0070  aoi0071  aoi0072  aoi0073
3           3  aoi0132  aoi0131  aoi0130  aoi0129  aoi0128  aoi0127  aoi0126
4           4  aoi0133  aoi0134  aoi0135  aoi0136  aoi0137  aoi0138  aoi0139
..        ...      ...      ...      ...      ...      ...      ...      ...
58         58  aoi1915  aoi1916  aoi1917  aoi1918  aoi1919  aoi1920  aoi1921
59         59  aoi1980  aoi1979  aoi1978  aoi1977  aoi1976  aoi1975  aoi1974
60         60  aoi1981  aoi1982  aoi1983  aoi1984  aoi1985  aoi1986  aoi1987
61         61  aoi2046  aoi2045  aoi2044  aoi2043  aoi2042  aoi2041  aoi2040
62         62  aoi2047  aoi2048  aoi2049  aoi2050  aoi2051  aoi2052  aoi2053

          7        8  ...       23       24       25       26       27  \
0   aoi0008  aoi0009  ...  aoi0024  aoi0025  aoi0026  aoi0027  aoi0028
1   aoi0059  aoi0058  ...  aoi0043  aoi0042  aoi0041  aoi0040  aoi0039
2   aoi0074  aoi0075  ...  aoi0090  aoi0091  aoi0092  aoi0093  aoi0094
3   aoi0125        4  ...  aoi0109  aoi0108  aoi0107  aoi0106  aoi0105
4   aoi0140        2  ...  aoi0156  aoi0157  aoi0158  aoi0159  aoi0160
..      ...      ...  ...      ...      ...      ...      ...      ...
58  aoi1922  aoi1923  ...  aoi1938  aoi1939  aoi1940  aoi1941  aoi1942
59  aoi1973  aoi1972  ...  aoi1957  aoi1956  aoi1955  aoi1954  aoi1953
60  aoi1988  aoi1989  ...  aoi2004  aoi2005  aoi2006  aoi2007  aoi2008
61  aoi2039  aoi2038  ...  aoi2023  aoi2022  aoi2021  aoi2020  aoi2019
62  aoi2054  aoi2055  ...  aoi2070  aoi2071  aoi2072  aoi2073  aoi2074

         28       29       30       31       32
0   aoi0029  aoi0030  aoi0031  aoi0032  aoi0033
1   aoi0038  aoi0037  aoi0036  aoi0035  aoi0034
2   aoi0095  aoi0096  aoi0097  aoi0098  aoi0099
3   aoi0104  aoi0103  aoi0102  aoi0101  aoi0100
4   aoi0161  aoi0162  aoi0163  aoi0164  aoi0165
..      ...      ...      ...      ...      ...
58  aoi1943  aoi1944  aoi1945  aoi1946  aoi1947
59  aoi1952  aoi1951  aoi1950  aoi1949  aoi1948
60  aoi2009  aoi2010  aoi2011  aoi2012  aoi2013
61  aoi2018  aoi2017  aoi2016  aoi2015  aoi2014
62  aoi2075  aoi2076  aoi2077  aoi2078  aoi2079

[63 rows x 34 columns]

In [64]:
excel.to_excel('C:/Users/sarve/Downloads/JR_19_396_A3_1(max-Y).xlsx')